<!--The content below is only a placeholder and can be replaced.-->
<div class="welcome-banner">
  <h1>
    {{ title }}
  </h1>
  <img id="bio-img" class="photo-main" alt="Shane Besong" src="../assets/images/20170307_110758.jpg">
</div>
<div class="media-icon-wrapper">
  <span class="media-icon"><a href="https://github.com/shwheelz"><i class="fab fa-github"></i></a></span>
  <span class="media-icon"><a href="https://instagram.com/sfbesong"><i class="fab fa-instagram"></i></a></span>
  <span class="media-icon"><a href="https://twitter.com/shwheelz"><i class="fab fa-twitter"></i></a></span>
</div>



