<div class="main-page">
  <div>
    <h1>
      {{ title }}
    </h1>
    <img id="bio-img" class="photo-main" alt="bio picture" src="../assets/images/shane.jpg">
  </div>
  <div class="media-icon-wrapper">
    <a href="https://github.com/shwheelz">
      <img class="nav-icon" src="../assets/images/github.png" alt="github"/>
    </a>
    <a href="https://instagram.com/sfbesong">
      <img class="nav-icon" src="../assets/images/instagram.png" alt="instagram"/>
    </a>
    <a href="https://twitter.com/shwheelz">
      <img class="nav-icon" src="../assets/images/twitter.png" alt="twitter"/>
    </a>
    <a href="https://www.linkedin.com/in/sfbesong">
      <img class="nav-icon" src="../assets/images/linkedin.png" alt="linked in"/>
    </a>
    <a href="https://www.twitch.tv/shwheelz">
      <img class="nav-icon" src="../assets/images/twitch.png" alt="twitch" />
    </a>
  </div>
  <div class="about-me">
    <p>
      You've discovered my little nook of the web.
      I'm Shane Besong, a full-stack developer by day, and an avid soccer player, drummer, and gamer by night.
      Here's where I'll share all of my deepest, darkest secrets, so when someone asks for the dirt on me, you know what to say.
    </p>
  </div>
  <div id="skills-section" class="section">
      <app-skills></app-skills>
  </div>
  <div id="gaming-section" class="section">
      <app-gaming></app-gaming>
  </div>
</div>
