h1 {
  font-size: 250%;
}

.main-page {
  text-align: center;
}

.photo-main {
  border-radius: 50%;
  object-fit: cover;
  height:200px;
  width:200px;
}

.media-icon-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.media-icon {
  height: 200px;
  width: 200px;
  padding-left: 20px;
  font-size: 32px;
}

.about-me {
  font-size: 20px;
}
